{%- comment -%} Programme complet, lu dans _data/d3ia/programme.yml. {%- endcomment -%}
{%- assign lang = page.lang | default: site.default_lang -%}
{%- assign t = site.data.d3ia.i18n[lang] -%}

<div class="d3ia-onglets" role="tablist" aria-label="{{ t.jours_programme }}">
  {%- for jour in site.data.d3ia.programme %}
  <button type="button" class="d3ia-onglets__bouton" role="tab" id="onglet-{{ jour.id }}" aria-controls="{{ jour.id }}"
          aria-selected="{% if forloop.first %}true{% else %}false{% endif %}"{% unless forloop.first %} tabindex="-1"{% endunless %}>{{ jour.jour[lang] }}</button>
  {%- endfor %}
</div>

{%- for jour in site.data.d3ia.programme %}
<div id="{{ jour.id }}" role="tabpanel" aria-labelledby="onglet-{{ jour.id }}"{% unless forloop.first %} hidden{% endunless %}>
  {%- for seance in jour.seances %}
  <div class="d3ia-seance">
    {%- if seance.intitule %}
    <p class="d3ia-seance__titre">{{ t[seance.intitule] }}</p>
    {%- elsif seance.moderation %}
    <p class="d3ia-seance__titre">{% if seance.genre == 'f' %}{{ t.moderatrice }}{% else %}{{ t.moderateur }}{% endif %} {{ seance.moderation }}</p>
    {%- endif %}
    <ol class="d3ia-creneaux">
      {%- for creneau in seance.creneaux %}
      {% include d3ia/creneau.html creneau=creneau %}
      {%- endfor %}
    </ol>
  </div>
  {%- endfor %}
</div>
{%- endfor %}

<p class="d3ia-telechargement">
  <a class="d3ia-bouton d3ia-bouton--contour" href="{{ '/assets/d3ia/programme-d3ia.pdf' | relative_url }}">{{ t.telecharger_programme }}</a>
</p>
