{%- assign lang = page.lang | default: site.default_lang -%}
{%- assign t = site.data.d3ia.i18n[lang] -%}
<div class="d3ia-sous-menu" role="navigation" aria-label="{{ t.sous_menu }}">
  <ul class="d3ia-sous-menu__liste">
    {%- for entree in site.data.d3ia.menu %}
      {%- assign cle = entree.cle | default: entree %}
      {%- assign p = site.pages | where: 'lang', lang | where: 'key', cle | first %}
      {%- if p %}
    <li class="d3ia-sous-menu__item{% if entree.sous %} d3ia-sous-menu__item--deroulant{% endif %}">
      <a class="d3ia-sous-menu__lien" href="{{ p.url | relative_url }}"{% if page.url == p.url %} aria-current="page"{% endif %}>{{ p.d3ia_label | default: p.title }}</a>
      {%- if entree.sous %}
      <ul class="d3ia-sous-menu__sous">
        {%- for s in entree.sous %}
        <li><a href="{{ p.url | relative_url }}#{{ s.ancre }}">{{ t[s.libelle] }}</a></li>
        {%- endfor %}
      </ul>
      {%- endif %}
    </li>
      {%- endif %}
    {%- endfor %}
  </ul>
</div>
