<div class="logos">
  <div class="conteneur">
    <div class="logos__groupe">
      <p class="logos__titre">Organisation</p>
      <ul class="logos__liste logos__liste--principal">
        <li><img src="images/logos/essect.png" alt="ESSECT – École Supérieure des Sciences Économiques et Commerciales de Tunis"></li>
        <li><img src="images/logos/altae.png" alt="ALTAE – Langues et cultures connectées, Université Paris Cité"></li>
        <li><img src="images/logos/larime.png" alt="LARIME – Laboratoire de Recherche Interdisciplinaire sur les Mutations des Économies et des Entreprises"></li>
      </ul>
    </div>
    <div class="logos__groupe">
      <p class="logos__titre">Partenaires et soutiens</p>
      <ul class="logos__liste">
        <li><img src="images/logos/ministere-tunisie.png" alt="République tunisienne – Ministère de l'Enseignement Supérieur et de la Recherche Scientifique"></li>
        <li><img src="images/logos/ministere-france.png" alt="Ministère de l'Enseignement supérieur, de la Recherche et de l'Espace"></li>
        <li><img src="images/logos/campus-france.png" alt="Campus France"></li>
        <li><img src="images/logos/universite-tunis.png" alt="Université de Tunis"></li>
        <li><img src="images/logos/paris-cite.png" alt="Université Paris Cité"></li>
        <li><img src="images/logos/manouba.png" alt="Université de la Manouba"></li>
        <li><img src="images/logos/bari.png" alt="Università degli Studi di Bari Aldo Moro"></li>
      </ul>
    </div>
  </div>
</div>
